# IDEs
.vscode
.idea
*.swp

# Database
*.db

# Compilation
build
cli/doc
coverage.html
book

# Executables
oki
oki-test

# Dependencies
third-party
oki-packages
packages
composer.json
composer.lock
composer.phar
vendor/

# Config
*.toml
!book.toml
