#form{
    text-align: center;
    font-size: 18px;
}

input{
    padding: 10px 5px 10px 5px;
    background-color: #DAD1E8;
    border: 2px ;
    border-radius: 5px;
}

textarea:focus, input:focus {
    color: purple;
}

input, select, textarea{
    color: purple;
}