:root {
    --debug: dotted gold 1px;

    --background: #EEE;
    --backgroundComplement: #DDD;
    --text: #262626;
    --subtext: #666;
    --complement: #f34b7d;
    --error: #F66;
}

.dark{
    --background: #444;
    --backgroundComplement: #333;
    --text: #EEE;
    --subtext: #AAA;
    --complement: #0AA;
    --error: #C33;
}

body{
    color: var(--text);
    background-color: var(--background);
    font-family: Helvetica, sans-serif;
}

header{
    background-color: var(--backgroundComplement);
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

main{
    margin-top: 130px;
    position: relative;
}

hr{
    color: var(--complement);
    width: 25%;
    margin-bottom: 25px;
}

a{
    color: var(--text);
    text-decoration: none;
    margin-bottom: 10px;
}

a:hover:not(.logo){
    color: var(--complement);
    text-decoration: underline;
}

a:focus{
    text-decoration: underline;
}

.error{
    background-color: var(--error);
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    width: 30%;
    padding: 20px;
    margin: 0px auto;
}

.logo{
    display: flex;
    font-weight: bold;
    font-size: 40px;
    height: 40px;
    margin: 20px 0 20px 2%;
    align-items: center;
}

.logo>img{
    height: 100px;
}

.top-right-menu{
    margin: auto 2% auto auto;
}

#theme-toggle{
    color: var(--text);
    background-color: Transparent;
    border: none;
}

#theme-toggle:hover{
    cursor: pointer;
}

.package{
    width: 25%; 
    border-radius: 20px;
    border: var(--complement) solid 1px;
    margin: 0 auto 20px auto;
    padding: 20px;
}

.package-prompt{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    font-size: 20px;
}

.package-name{
    font-weight: bold;
}

.package-description{
    color: var(--subtext);
    margin-top: -10px;
}

.center-content{
    text-align: center;
}
