:root {
    --debug: dotted gold 1px;

    --background: #EEE;
    --backgroundComplement: #DDD;
    --text: #262626;
    --subtext: #666;
    --complement: #f34b7d;
    --error: #F66;
}

.dark{
    --background: #444;
    --backgroundComplement: #333;
    --text: #EEE;
    --subtext: #AAA;
    --complement: #0AA;
    --error: #C33;
}

body{
    color: var(--text);
    background-color: var(--background);
    font-family: Helvetica, sans-serif;
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    body{
        transition: 0.5s;
        transition-property: background-color, color;
    }
}

#header{
    background-color: var(--backgroundComplement);
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

main{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

@media only screen and (max-width: 500px){
    main {margin: 30px 10px}
}

main.small-viewport{
    max-width: 600px;
}

hr{
    color: var(--complement);
    margin-bottom: 25px;
}

a{
    color: var(--text);
    text-decoration: none;
    margin-bottom: 10px;
}

a:hover:not(.logo){
    color: var(--complement);
    text-decoration: underline;
}

a:focus{
    text-decoration: underline;
}

.error{
    background-color: var(--error);
    color: var(--text);
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding: 20px;
    margin: 20px 80px;
}

@media only screen and (max-width: 720px){
    .error {
        margin: 0;
    }
}

.logo{
    display: flex;
    height: 40px;
    margin: 20px 0 20px 2%;
    align-items: center;
}

.image-logo {
    height: 100px;
}
.image-logo img {
    max-height: 100%;
}

h1 {
    display: none;
}

@media only screen and (min-width: 800px){
    h1{
        display: block;
    }
}

.top-right-menu{
    margin: auto 2% auto auto;
}

#theme-toggle{
    color: var(--text);
    background-color: Transparent;
    border: none;
}

#theme-toggle:hover{
    cursor: pointer;
}

body.dark #moon{
    display: none;
}
body:not(.dark) #sun{
    display: none;
}

.package{
    border-radius: 20px;
    border: var(--complement) solid 1px;
    margin: 0 auto 20px auto;
    padding: 20px;
}

.package-prompt{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    font-size: 20px;
}

.package-name{
    font-weight: bold;
}

.package-description{
    color: var(--subtext);
    margin-top: -10px;
}

.package-info {
    display: grid;
    grid-template-columns: minmax(0, 7fr) minmax(0, 3fr)
}
.package-readme {
    padding: 2rem 1.75rem;
}

.center-content{
    text-align: center;
}

.pagination{
    background-color: var(--backgroundComplement);
    color: white;
    border-radius: 15px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.pagination-list{
    list-style-type: none;
    display: flex;
    padding-left: 0px;
}

.pagination-previous,
.pagination-link,
.pagination-next{
    background-color: var(--complement);
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination-previous:hover,
.pagination-link:hover,
.pagination-next:hover{
    background-color: var(--subtext);
    color: white !important;
    text-decoration: none !important;
}

.pagination-previous:focus,
.pagination-link:focus,
.pagination-next:focus{
    text-decoration: none;
}

.is-current{
    background-color: var(--subtext);
}

.tabs{
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    min-height: 100%;
    max-width: calc(100% - 20px);
    margin: 0 auto;
}
.tabs ul{
    align-items: center;
    border-bottom-color: var(--subtext);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
    list-style: none;
    margin-bottom: 0;
}
.tabs a{
    color: var(--text);
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: 0.5em 1em;
    border-bottom: 2px solid var(--subtext);
    text-decoration: none;
}
.tabs li[aria-selected="true"] a {
    border-bottom-color: var(--complement);
}

.preload{
    transition: none !important;
}
